<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navbar.ejs") %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Cadastro de categória</h2>
        </div>
        <div class="card-body">
            <form action="">
                <input type="text" class="form-control" name="title" placeholder="Defina o título da categória" id="">
                <br>
                <button type="submit" class="btn btn-success">Cadastrar</button>
            </form>
        </div>
       

        
    </div>
</div>
<%- include("../../partials/footer.ejs") %>